@model IEnumerable<CV_Website.Models.Message>

@{
    ViewData["Title"] = "Overview";
}

<h1>Messages</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SenderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Read)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reciver)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Read)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reciver.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MessageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MessageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
