@model IEnumerable<CV_Website.Models.Message>

@{
    ViewData["Title"] = "Overview";
}

<h1>Messages</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Sender Name
            </th>
            <th>
                Message Text
            </th>
            <th>
                Read
            </th>
            <th>
                Sender
            </th>
            <th>
                Receiver
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr onclick="document.getElementById('form-@item.MessageId').submit();">
            
                <td>
                    @item.SenderName
                </td>
                <td>
                    @item.MessageText
                </td>
                <td>
                    @item.Read
                </td>
                <td>
                    @item.Sender.UserId
                </td>
                <td>
                    @item.Receiver.UserId
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MessageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MessageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
            </td>
            <td>
                <form id="form-@item.MessageId" action="@Url.Action("Conversation", "Message")" method="get" style="display:none;">
                <input type="hidden" name="senderId" value="@item.Sender.UserId" />
                <input type="hidden" name="receiverId" value="@item.Receiver.UserId" />
    </form>
            </td>
        </tr>
}
    </tbody>
</table>
