@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Overview";
}

<h1>Meddelanden</h1>


<table class="table">
    <thead>
        <tr>
            <th>Användare</th>
            <th>Meddelande</th>
            <th>Olästa meddelanden</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var conversation in Model)
        {
            <tr onclick="document.getElementById('form-@conversation.LatestMessage.MessageId').submit();">
                <td>@conversation.LatestMessage.SenderName</td>
                <td>@conversation.LatestMessage.MessageText</td>
                <td>@conversation.UnreadMessages</td>
                <td>
                    <form id="form-@conversation.LatestMessage.MessageId" action="@Url.Action("Conversation", "Message")" method="get" style="display:none;">
                        <input type="hidden" name="senderId" value="@conversation.LatestMessage.SenderId" />
                        <input type="hidden" name="receiverId" value="@conversation.LatestMessage.ReceiverId" />
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>