
@model CV_Website.ViewModels.ProjecthomeViewModel


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <input id="q" asp-controller="User" asp-action="Search" method="get" autocomplete="off" name="inputstring" placeholder="Användarnamn" style="width:275px;" oninput="search(this.value)" />
        
    <div id="userlist">
       
    </div>
    
    @if (!Model.Allcv.Any())
    {
        <p>Finns inge CVn</p>
    }
    else
    {
        <label>
            CV
        </label>
        <ul id="Cvlink" style="overflow-y:scroll; overflow-x:hidden; height:400px;">
            @foreach (var cv in Model.Allcv)
            {
                <li>
                    <a id="CvlinkItem" href="@Url.Action("GoToUserPage", "User", new { userId = cv.User.UserId })" >
                        <div id="Cvpreview">
                            <p>Namn: @cv.User.Name</p>
                            <p>Epost: @cv.User.Email</p>
                            
                            @if (cv.Experience != null && cv.Experience.Any())
                            {
                                <hr />
                                <p>Erfarenheter:</p>
                                @foreach (var erfarenhet in cv.Experience)
                                {
                                    <p>@erfarenhet.Name</p>
                                }
                            }
                            @if (cv.Skills != null && cv.Skills.Any())
                            {
                                <hr />
                                <p>Färdigheter:</p>
                                @foreach (var fardigheter in cv.Skills)
                                {
                                    <p>@fardigheter.Name</p>
                                }
                            }
                        </div>
                    </a>
                </li>
            }
        </ul>
            
        
    }
    
</div>

<hr />

<table class="table table-striped table-bordered table-hover" >
    <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Mer Info</th>
        </tr>
    </thead>
    <tbody>
        @{
            List<Project> addedproj = new List<Project>();
            var projsorted = Model.Allprojects.OrderByDescending(s => s.ProjectId);
                                
        }

        
        @foreach (var proj in projsorted)
        {
            <tr>
                <td>@proj.Title</td>
                <td>@proj.Description</td>
                <td>
                    <a class="btn btn-info btn-sm" asp-controller="Project" asp-action="ProjectPage" asp-route-id="@proj.ProjectId">More Info</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    async function search(sinput) {
        if (sinput.length < 1) {
            document.getElementById("userlist").innerHTML = "";
            return;
        }

        const url = `/User/Search?inputstring=${encodeURIComponent(sinput)}`;
        const resp = await fetch(url);
        const result = await resp.text();

        document.getElementById("userlist").innerHTML = result;
    }

</script>
