
@model IEnumerable<CV>


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <input id="q" asp-controller="User" asp-action="Search" method="get" autocomplete="off" name="inputstring" placeholder="Användar namn" style="width:275px;" oninput="search(this.value)" />
        
    <div id="userlist">
       
    </div>
    
    @if (!Model.Any())
    {
        <p>Finns inge CVn</p>
    }
    else
    {

        <ul id="Cvlink">
            @foreach (var cv in Model)
            {
                <li>
                    <a id="CvlinkItem" href="@Url.Action("GoToUserPage", "User", new { userId = cv.User.Id })">
                        <div id="Cvpreview">
                            <p>Namn: @cv.User.Name</p>
                            <p>Epost: @cv.User.Email</p>
                            
                            @if (cv.Experience != null && cv.Experience.Any())
                            {
                                <hr />
                                <p>Erfarenheter:</p>
                                @foreach (var erfarenhet in cv.Experience)
                                {
                                    <p>@erfarenhet.Name</p>
                                }
                            }
                            @if (cv.Skills != null && cv.Skills.Any())
                            {
                                <hr />
                                <p>Färdigheter:</p>
                                @foreach (var fardigheter in cv.Skills)
                                {
                                    <p>@fardigheter.Name</p>
                                }
                            }
                        </div>
                    </a>
                </li>
            }
        </ul>
            
        
    }
</div>

<script>

    async function search(sinput) {
        if (sinput.length < 1) {
            document.getElementById("userlist").innerHTML = "";
            return;
        }

        const url = `/User/Search?inputstring=${encodeURIComponent(sinput)}`;
        const resp = await fetch(url);
        const result = await resp.text();

        document.getElementById("userlist").innerHTML = result;
    }

</script>
