
@model IEnumerable<CV>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <form asp-action="Search" method="get">
        <input id="q" name="q" value="" style="width:275px;" />
        <input id="submit" name="submit" type="submit" style="font-weight:bold;" value="Search" />
    </form>
    
    @if (!Model.Any())
    {
        <p>Finns inge CVn</p>
    }
    else
    {

        <ul id="Cvlink">
            @foreach (var cv in Model)
            {
                <li>
                    <a id="CvlinkItem" href="@Url.Action("GoToUserPage", "User", new { userId = cv.User.UserId })">
                        <div id="Cvpreview">
                            <p>Namn: @cv.User.Name</p>
                            <p>Epost: @cv.User.Email</p>
                            
                            @if (cv.Experience != null && cv.Experience.Any())
                            {
                                <hr />
                                <p>Erfarenheter:</p>
                                @foreach (var erfarenhet in cv.Experience)
                                {
                                    <p>@erfarenhet.Name</p>
                                }
                            }
                            @if (cv.Skills != null && cv.Skills.Any())
                            {
                                <hr />
                                <p>Färdigheter:</p>
                                @foreach (var fardigheter in cv.Skills)
                                {
                                    <p>@fardigheter.Name</p>
                                }
                            }
                        </div>
                    </a>
                </li>
            }
        </ul>
            
        
    }
</div>
