@model CV_Website.Models.User

<div id="UID" class="PersonalPage">

	<div id="Info" class="p-f1">
	<img src="https://cdn.pixabay.com/photo/2016/12/07/21/01/cartoon-1890438_640.jpg" alt="Test" />
	<p id="N1">@Model.Name</p>
    <h4>Kontaktainformation:</h4>
	<p>@Model.Email</p>
    <p>@Model.PhoneNumber</p>
	</div>


	<div id="UP" class="p-f2">
        <h4>Mina projekt</h4>
        @if (Model.Project != null && Model.Project.Any())
        {
            <ul>
                @foreach (var project in Model.Project)
                {
                    <li class="pb">
                        <p id="T">@project.Title</p>
                        <p>@project.Description</p>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>Här var det tomt :(</p>
        }

	</div>

        @* Authorized har vi inte fått att fungera, kör på sessions baserat tills vidare *@
    @if (Context.Session.GetString("UserId") != null && Context.Session.GetString("UserId") == Model.UserId.ToString())
    {
        <div id="Settings" class="p-f3">
            <a href="@Url.Action("SettingsUser", "User", new { userId = Model.UserId })">
                <button>Redigera profil</button>
            </a>
        </div>

    }

</div>
