@model CV_Website.ViewModels.UserPageViewModel

<div id="UID" class="PersonalPage">

	<div id="Info" class="p-f1">
	<img src="https://cdn.pixabay.com/photo/2016/12/07/21/01/cartoon-1890438_640.jpg" alt="Test" />
	<p id="N1">@Model.User.Name</p>
    <h4>Kontaktainformation:</h4>
	<p>@Model.User.Email</p>
    <p>@Model.User.PhoneNumber</p>
	</div>


	<div id="UP" class="p-f2">
        <h4>Projekt</h4>
        @if (Model.Projects != null && Model.Projects.Any())
        {
            <ul>
                @foreach (var project in Model.Projects)
                {
                    <li class="pb">
                        <p id="T">@project.Title</p>
                        <p>@project.Description</p>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>Här var det tomt :(</p>
        }

	</div>

       <div id="UCV" class="p-f4">
        @if (Model.UserCV != null)
        {
            <div class="p-f5">
            <h4>Färdigheter</h4>
            @foreach (var skill in Model.Skills)
            {
                <p>@skill.Name</p>
            }
            </div>

            <div class="p-f6">
            <h4>Erfarenhet</h4>
            @foreach (var experience in Model.Experiences)
            {
                <p>@experience.Name</p>
            }
            </div>

            <div class="p-f7">
            <h4>Utbildning</h4>
            @foreach (var education in Model.Educations)
            {
                <p>@education.Name</p>
            }
            </div>
        
        }
        else
        {
            <h4>Skapa ditt CV nu!</h4>
        }
        </div>


        @* Authorized har vi inte fått att fungera, kör på sessions baserat tills vidare *@
    @if (Context.Session.GetString("UserId") != null && Context.Session.GetString("UserId") == Model.User.UserId.ToString())
    {
        <div id="Settings" class="p-f3">
            <a href="@Url.Action("SettingsUser", "User", new { userId = Model.User.UserId })">
                <button>Redigera profil</button>
            </a>
        </div>

    }

</div>
